@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
html {
    font-family: 'DM Sans', sans-serif;
}
body {
    background-color: hsl(27, 66%, 92%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
main {
    width: 23.9rem;
}
.balance {
    background-color: hsl(10, 79%, 65%);
    border-radius: 0.8rem;
    padding: 1.3rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.balance p {
    color: hsl(33, 100%, 98%);
    font-size: 0.8rem;
}
.balance .price {
    font-size: 1.6rem;
    margin-top: 0.4rem;
    font-weight: 700;
}
.circles {
    width: 3rem;
    position: relative;
}
.circles .white {
    position: absolute;
    width: 2rem;
    height: 2rem;
    top: 0.5rem;
    border: 2px solid hsl(33, 100%, 98%);
    border-radius: 50%;
    z-index: 2;
}
.circles .black {
    position: absolute;
    width: 2rem;
    height: 2rem;
    left: 0.8rem;
    top: 0.5rem;
    background-color: hsl(25, 47%, 15%);
    border-radius: 50%;
    z-index: 1;
}
.spending {
    background-color: hsl(33, 100%, 98%);
    border-radius: 0.8rem;
    padding: 1.3rem;
}
.spending .spent {
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.spending .charts {
    display: flex;
    align-items: flex-end;
}
.charts .chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    width: 3rem;
    gap: 0.35rem;
    height: 11.5rem;
}
.charts .chart .hover {
    width: 3rem;
    height: 1.5rem;
    background-color: hsl(25, 47%, 15%);
    margin-bottom: 0.4rem;
    display: none;
}
.charts .chart .hover p {
    color: hsl(27, 66%, 92%);
    font-size: 0.78rem;
    font-weight: 700;
}
.charts .chart:hover .hover {
    display: block;
}
.charts .chart p {
    font-size: 0.8rem;
    color: hsl(28, 10%, 53%);
    text-align: center;
    margin-top: 0.35rem;
}
.charts .chart div {
    background-color: hsl(10, 79%, 65%);
    width: 2.3rem;
    border-radius: 0.25rem;
}
.charts .chart .today {
    background-color: hsl(186, 34%, 60%);
}
hr {
    border-color: hsl(33, 100%, 98%);
    opacity: 0.5;
    margin: 1.3rem auto;
}
.bot {
    display: flex;
    justify-content: space-between;
}
.bot p {
    font-size: 0.75rem;
    color: hsl(28, 10%, 53%);
}
.bot .price {
    font-size: 2rem;
    font-weight: 700;
    color: hsl(25, 47%, 15%);
}
.bot .percent {
    font-size: 0.8rem;
    color: hsl(25, 47%, 15%);
    font-weight: 700;
    margin-top: 0.9rem;
    text-align: right;
}